.navbar-custom {
  background-color: #fde3e5;
  width: 100%; 
  height: 100px;
}

.word-logo {
  max-width:150px;
}

.navbar-brand {
  color: var(--medium_pink); 
  font-size: 24px;
}

.navbar-custom .navbar-brand img {
  width: 150px;
  height: auto;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: 2rem;
}

.navbar-custom .navbar-nav .nav-link {
  color: var(--purple); 
  margin: 50px; 
  font-size: 30px;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: var(--bright_pink);
}

.navbar-custom .navbar-nav .nav-link.active {
  color: var(--base); 
}

.navbar-nav {
  width: 100%; 
  justify-content: center;
}

ul.navbar-nav {
  background-color: #fde3e5;
}

.navbar-toggler {
  margin-left: 1rem;
}