:root{
    --base : #fffbf6;
    --light_pink: #FDE3E5;
    --medium_pink: #fd9cc4;
    --bright_pink: #f272b8;
    --purple:#bb83bb;
}
/* these root colours make the process of coding quicker, example : "background: --base;" instead of typing out the full code*/

/* Navbar Styling */
.navbar-custom {
    background-color: --light_pink;
    width: 100%; 
    height: 100px;
  }
  
  .navbar-custom .navbar-brand {
    color: #FD9CC4; 
    font-size: 24px;
  }

  .navbar-custom .navbar-nav .nav-item.track-period {
    margin-right: auto;
    margin-left: 15%;
  }
  
  .navbar-custom .navbar-brand img {
    width: 150px;
    height: auto;
  }

  .navbar-custom .navbar-nav .nav-link {
    color: #FD9CC4; 
    margin: 0 50px; 
    font-size: 30px;
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .navbar-custom .navbar-nav .nav-link:hover {
    color: #F272B8;
  }
  
  .navbar-custom .navbar-nav .nav-link.active {
    color: #FFFBF6; 
  }
  
  .navbar-custom .navbar-toggler-icon {
    background-color: #BB3BB;
  }
  
  /* Centering Navbar Links */
  .navbar-custom .navbar-nav {
    width: 100%; 
    justify-content: center;
  }
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: italic;
}

p {
    font-family: "Montserrat", sans-serif;
}

.background {
    background-image: url("./assets/Free-pink-gradient-aesthetic-background-from-Fotor.webp");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.logo {
    width: 10rem;
    filter: drop-shadow(0 0.1rem 1.5rem var(--base));
}

.word-logo {
    width: 10rem;
    filter: drop-shadow(0 0.1rem 0.9rem var(--base));
}

