:root{
    --base : #fffbf6;
    --light_pink: #FDE3E5;
    --medium_pink: #fd9cc4;
    --bright_pink: #f272b8;
    --purple:#bb83bb;
}
/* these root colours make the process of coding quicker, example : "background: --base;" instead of typing out the full code*/