.progress {
  width: 160px;
  height: 160px;
  line-height: 160px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative; }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #efefef;
    position: absolute;
    top: 0;
    left: 0; }
  .progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1; }
  .progress .progress-left {
    left: 0; }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #f272b8; }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left; }
  .progress .progress-right {
    right: 0; }
    .progress .progress-right .progress-bar {
      left: -100%;
      border-top-left-radius: 80px;
      border-bottom-left-radius: 80px;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right; }
  .progress .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 300; }
    .progress .progress-value span {
      font-size: 12px;
      text-transform: uppercase; }

/* This for loop creates the necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress[data-percentage="1.25"] .progress-right .progress-bar {
  animation: loading-1 0.5s linear forwards; }

.progress[data-percentage="1.25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="2.5"] .progress-right .progress-bar {
  animation: loading-2 0.5s linear forwards; }

.progress[data-percentage="2.5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="3.75"] .progress-right .progress-bar {
  animation: loading-3 0.5s linear forwards; }

.progress[data-percentage="3.75"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="5"] .progress-right .progress-bar {
  animation: loading-4 0.5s linear forwards; }

.progress[data-percentage="5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="6.25"] .progress-right .progress-bar {
  animation: loading-5 0.5s linear forwards; }

.progress[data-percentage="6.25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="7.5"] .progress-right .progress-bar {
  animation: loading-6 0.5s linear forwards; }

.progress[data-percentage="7.5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="8.75"] .progress-right .progress-bar {
  animation: loading-7 0.5s linear forwards; }

.progress[data-percentage="8.75"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-8 0.5s linear forwards; }

.progress[data-percentage="10"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="11.25"] .progress-right .progress-bar {
  animation: loading-9 0.5s linear forwards; }

.progress[data-percentage="11.25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="12.5"] .progress-right .progress-bar {
  animation: loading-10 0.5s linear forwards; }

.progress[data-percentage="12.5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="13.75"] .progress-right .progress-bar {
  animation: loading-11 0.5s linear forwards; }

.progress[data-percentage="13.75"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="15"] .progress-right .progress-bar {
  animation: loading-12 0.5s linear forwards; }

.progress[data-percentage="15"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="16.25"] .progress-right .progress-bar {
  animation: loading-13 0.5s linear forwards; }

.progress[data-percentage="16.25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="17.5"] .progress-right .progress-bar {
  animation: loading-14 0.5s linear forwards; }

.progress[data-percentage="17.5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="18.75"] .progress-right .progress-bar {
  animation: loading-15 0.5s linear forwards; }

.progress[data-percentage="18.75"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-16 0.5s linear forwards; }

.progress[data-percentage="20"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="21.25"] .progress-right .progress-bar {
  animation: loading-17 0.5s linear forwards; }

.progress[data-percentage="21.25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="22.5"] .progress-right .progress-bar {
  animation: loading-18 0.5s linear forwards; }

.progress[data-percentage="22.5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="23.75"] .progress-right .progress-bar {
  animation: loading-19 0.5s linear forwards; }

.progress[data-percentage="23.75"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="25"] .progress-right .progress-bar {
  animation: loading-20 0.5s linear forwards; }

.progress[data-percentage="25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="26.25"] .progress-right .progress-bar {
  animation: loading-21 0.5s linear forwards; }

.progress[data-percentage="26.25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="27.5"] .progress-right .progress-bar {
  animation: loading-22 0.5s linear forwards; }

.progress[data-percentage="27.5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="28.75"] .progress-right .progress-bar {
  animation: loading-23 0.5s linear forwards; }

.progress[data-percentage="28.75"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-24 0.5s linear forwards; }

.progress[data-percentage="30"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="31.25"] .progress-right .progress-bar {
  animation: loading-25 0.5s linear forwards; }

.progress[data-percentage="31.25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="32.5"] .progress-right .progress-bar {
  animation: loading-26 0.5s linear forwards; }

.progress[data-percentage="32.5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="33.75"] .progress-right .progress-bar {
  animation: loading-27 0.5s linear forwards; }

.progress[data-percentage="33.75"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="35"] .progress-right .progress-bar {
  animation: loading-28 0.5s linear forwards; }

.progress[data-percentage="35"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="36.25"] .progress-right .progress-bar {
  animation: loading-29 0.5s linear forwards; }

.progress[data-percentage="36.25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="37.5"] .progress-right .progress-bar {
  animation: loading-30 0.5s linear forwards; }

.progress[data-percentage="37.5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="38.75"] .progress-right .progress-bar {
  animation: loading-31 0.5s linear forwards; }

.progress[data-percentage="38.75"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-32 0.5s linear forwards; }

.progress[data-percentage="40"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="41.25"] .progress-right .progress-bar {
  animation: loading-33 0.5s linear forwards; }

.progress[data-percentage="41.25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="42.5"] .progress-right .progress-bar {
  animation: loading-34 0.5s linear forwards; }

.progress[data-percentage="42.5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="43.75"] .progress-right .progress-bar {
  animation: loading-35 0.5s linear forwards; }

.progress[data-percentage="43.75"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="45"] .progress-right .progress-bar {
  animation: loading-36 0.5s linear forwards; }

.progress[data-percentage="45"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="46.25"] .progress-right .progress-bar {
  animation: loading-37 0.5s linear forwards; }

.progress[data-percentage="46.25"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="47.5"] .progress-right .progress-bar {
  animation: loading-38 0.5s linear forwards; }

.progress[data-percentage="47.5"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="48.75"] .progress-right .progress-bar {
  animation: loading-39 0.5s linear forwards; }

.progress[data-percentage="48.75"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="50"] .progress-left .progress-bar {
  animation: 0; }

.progress[data-percentage="51.25"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="51.25"] .progress-left .progress-bar {
  animation: loading-1 0.5s linear forwards 0.5s; }

.progress[data-percentage="52.5"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="52.5"] .progress-left .progress-bar {
  animation: loading-2 0.5s linear forwards 0.5s; }

.progress[data-percentage="53.75"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="53.75"] .progress-left .progress-bar {
  animation: loading-3 0.5s linear forwards 0.5s; }

.progress[data-percentage="55"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="55"] .progress-left .progress-bar {
  animation: loading-4 0.5s linear forwards 0.5s; }

.progress[data-percentage="56.25"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="56.25"] .progress-left .progress-bar {
  animation: loading-5 0.5s linear forwards 0.5s; }

.progress[data-percentage="57.5"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="57.5"] .progress-left .progress-bar {
  animation: loading-6 0.5s linear forwards 0.5s; }

.progress[data-percentage="58.75"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="58.75"] .progress-left .progress-bar {
  animation: loading-7 0.5s linear forwards 0.5s; }

.progress[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-8 0.5s linear forwards 0.5s; }

.progress[data-percentage="61.25"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="61.25"] .progress-left .progress-bar {
  animation: loading-9 0.5s linear forwards 0.5s; }

.progress[data-percentage="62.5"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="62.5"] .progress-left .progress-bar {
  animation: loading-10 0.5s linear forwards 0.5s; }

.progress[data-percentage="63.75"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="63.75"] .progress-left .progress-bar {
  animation: loading-11 0.5s linear forwards 0.5s; }

.progress[data-percentage="65"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="65"] .progress-left .progress-bar {
  animation: loading-12 0.5s linear forwards 0.5s; }

.progress[data-percentage="66.25"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="66.25"] .progress-left .progress-bar {
  animation: loading-13 0.5s linear forwards 0.5s; }

.progress[data-percentage="67.5"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="67.5"] .progress-left .progress-bar {
  animation: loading-14 0.5s linear forwards 0.5s; }

.progress[data-percentage="68.75"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="68.75"] .progress-left .progress-bar {
  animation: loading-15 0.5s linear forwards 0.5s; }

.progress[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-16 0.5s linear forwards 0.5s; }

.progress[data-percentage="71.25"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="71.25"] .progress-left .progress-bar {
  animation: loading-17 0.5s linear forwards 0.5s; }

.progress[data-percentage="72.5"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="72.5"] .progress-left .progress-bar {
  animation: loading-18 0.5s linear forwards 0.5s; }

.progress[data-percentage="73.75"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="73.75"] .progress-left .progress-bar {
  animation: loading-19 0.5s linear forwards 0.5s; }

.progress[data-percentage="75"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="75"] .progress-left .progress-bar {
  animation: loading-20 0.5s linear forwards 0.5s; }

.progress[data-percentage="76.25"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="76.25"] .progress-left .progress-bar {
  animation: loading-21 0.5s linear forwards 0.5s; }

.progress[data-percentage="77.5"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="77.5"] .progress-left .progress-bar {
  animation: loading-22 0.5s linear forwards 0.5s; }

.progress[data-percentage="78.75"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="78.75"] .progress-left .progress-bar {
  animation: loading-23 0.5s linear forwards 0.5s; }

.progress[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-24 0.5s linear forwards 0.5s; }

.progress[data-percentage="81.25"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="81.25"] .progress-left .progress-bar {
  animation: loading-25 0.5s linear forwards 0.5s; }

.progress[data-percentage="82.5"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="82.5"] .progress-left .progress-bar {
  animation: loading-26 0.5s linear forwards 0.5s; }

.progress[data-percentage="83.75"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="83.75"] .progress-left .progress-bar {
  animation: loading-27 0.5s linear forwards 0.5s; }

.progress[data-percentage="85"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="85"] .progress-left .progress-bar {
  animation: loading-28 0.5s linear forwards 0.5s; }

.progress[data-percentage="86.25"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="86.25"] .progress-left .progress-bar {
  animation: loading-29 0.5s linear forwards 0.5s; }

.progress[data-percentage="87.5"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="87.5"] .progress-left .progress-bar {
  animation: loading-30 0.5s linear forwards 0.5s; }

.progress[data-percentage="88.75"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="88.75"] .progress-left .progress-bar {
  animation: loading-31 0.5s linear forwards 0.5s; }

.progress[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-32 0.5s linear forwards 0.5s; }

.progress[data-percentage="91.25"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="91.25"] .progress-left .progress-bar {
  animation: loading-33 0.5s linear forwards 0.5s; }

.progress[data-percentage="92.5"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="92.5"] .progress-left .progress-bar {
  animation: loading-34 0.5s linear forwards 0.5s; }

.progress[data-percentage="93.75"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="93.75"] .progress-left .progress-bar {
  animation: loading-35 0.5s linear forwards 0.5s; }

.progress[data-percentage="95"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="95"] .progress-left .progress-bar {
  animation: loading-36 0.5s linear forwards 0.5s; }

.progress[data-percentage="96.25"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="96.25"] .progress-left .progress-bar {
  animation: loading-37 0.5s linear forwards 0.5s; }

.progress[data-percentage="97.5"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="97.5"] .progress-left .progress-bar {
  animation: loading-38 0.5s linear forwards 0.5s; }

.progress[data-percentage="98.75"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="98.75"] .progress-left .progress-bar {
  animation: loading-39 0.5s linear forwards 0.5s; }

.progress[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards; }

.progress[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-40 0.5s linear forwards 0.5s; }

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(4.5);
    transform: rotate(4.5deg); } }

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(9);
    transform: rotate(9deg); } }

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(13.5);
    transform: rotate(13.5deg); } }

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(18);
    transform: rotate(18deg); } }

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(22.5);
    transform: rotate(22.5deg); } }

@keyframes loading-6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(27);
    transform: rotate(27deg); } }

@keyframes loading-7 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(31.5);
    transform: rotate(31.5deg); } }

@keyframes loading-8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg); } }

@keyframes loading-9 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(40.5);
    transform: rotate(40.5deg); } }

@keyframes loading-10 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45);
    transform: rotate(45deg); } }

@keyframes loading-11 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(49.5);
    transform: rotate(49.5deg); } }

@keyframes loading-12 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(54);
    transform: rotate(54deg); } }

@keyframes loading-13 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(58.5);
    transform: rotate(58.5deg); } }

@keyframes loading-14 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(63);
    transform: rotate(63deg); } }

@keyframes loading-15 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(67.5);
    transform: rotate(67.5deg); } }

@keyframes loading-16 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg); } }

@keyframes loading-17 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(76.5);
    transform: rotate(76.5deg); } }

@keyframes loading-18 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(81);
    transform: rotate(81deg); } }

@keyframes loading-19 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(85.5);
    transform: rotate(85.5deg); } }

@keyframes loading-20 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(90);
    transform: rotate(90deg); } }

@keyframes loading-21 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(94.5);
    transform: rotate(94.5deg); } }

@keyframes loading-22 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(99);
    transform: rotate(99deg); } }

@keyframes loading-23 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(103.5);
    transform: rotate(103.5deg); } }

@keyframes loading-24 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg); } }

@keyframes loading-25 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(112.5);
    transform: rotate(112.5deg); } }

@keyframes loading-26 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(117);
    transform: rotate(117deg); } }

@keyframes loading-27 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(121.5);
    transform: rotate(121.5deg); } }

@keyframes loading-28 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(126);
    transform: rotate(126deg); } }

@keyframes loading-29 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(130.5);
    transform: rotate(130.5deg); } }

@keyframes loading-30 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(135);
    transform: rotate(135deg); } }

@keyframes loading-31 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(139.5);
    transform: rotate(139.5deg); } }

@keyframes loading-32 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg); } }

@keyframes loading-33 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(148.5);
    transform: rotate(148.5deg); } }

@keyframes loading-34 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(153);
    transform: rotate(153deg); } }

@keyframes loading-35 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(157.5);
    transform: rotate(157.5deg); } }

@keyframes loading-36 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(162);
    transform: rotate(162deg); } }

@keyframes loading-37 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(166.5);
    transform: rotate(166.5deg); } }

@keyframes loading-38 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(171);
    transform: rotate(171deg); } }

@keyframes loading-39 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(175.5);
    transform: rotate(175.5deg); } }

@keyframes loading-40 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg); } }
